<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">  <!-- Link to admin-specific CSS -->
</head>

<style>
    body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

</style>

<body>
    <h1>Admin Dashboard</h1>
    
    <h2>Registered Users</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscricao in inscricoes %}
            <tr>
                <td>{{ inscricao.id }}</td>
                <td>{{ inscricao.candidato.nome_completo }}</td>
                <td>{{ inscricao.candidato.cpf }}</td>
                <td>{{ inscricao.candidato.email }}</td>
                <td><a href="#">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
