<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Pública - Setor Pedagógico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <style>
        /* Cores e estilo base */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f7fa;
            color: #333;
        }

        /* Navbar moderna */
        .navbar {
            background-color: #002f6c;
            padding: 10px 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand img {
            height: 50px;
        }

        .navbar-nav .nav-link {
            color: white !important;
            font-weight: bold;
            margin-right: 15px;
        }

        .navbar-nav .nav-link:hover {
            color: #f47835 !important;
        }

        .btn-primary {
            background-color: #f47835;
            border: none;
            padding: 12px 30px;
            font-size: 1.2rem;
            border-radius: 30px;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #d8682b;
        }

        .hero {
            background-color: #002f6c;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }

        /* Modernização dos cards */
        .modern-card {
            background: white;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 30px;
            margin-bottom: 20px;
            transition: transform 0.3s;
        }

        .modern-card:hover {
            transform: translateY(-5px);
        }

        /* Estilização do footer */
        footer {
            background-color: #002f6c;
            color: white;
            padding: 15px 0;
            text-align: center;
            margin-top: auto;
        }

        /* Carrossel */
        .carousel-item img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }

        .carousel-caption h5 {
            font-size: 2.5rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }

        .carousel-caption p {
            font-size: 1.25rem;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            padding: 10px;
        }

        /* Modal consulta pública */
        #consultaPublicaModal .modal-header {
            background-color: #f47835;
            color: white;
        }

        #consultaPublicaModal label {
            font-weight: bold;
        }

        #consultaPublicaModal .form-control,
        #consultaPublicaModal .form-select {
            border-radius: 10px;
        }


         /* Modal consulta pública2 */
         #consultaPublicaModal1 .modal-header {
            background-color: #f47835;
            color: white;
        }

        #consultaPublicaModal1 label {
            font-weight: bold;
        }

        #consultaPublicaModal1 .form-control,
        #consultaPublicaModal1 .form-select {
            border-radius: 10px;
        }



        /* Cards das reportagens */
        .card img {
            height: 200px;
            object-fit: cover;
        }

        .card-title {
            font-size: 1.25rem;
            color: #002f6c;
        }

        @media (max-width: 768px) {
    .carousel-caption button {
        font-size: 1rem; /* Botão menor em telas pequenas */
        padding: 10px 20px; /* Ajusta o tamanho do botão */
    }
        }

        @media (min-width: 768px) {
            .carousel-caption button {
                font-size: 1.25rem; /* Botão maior em telas maiores */
                padding: 12px 30px; /* Ajuste de espaçamento */
            }
        }

    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/semed_branca.png' %}" alt="Logo SEMED">
            </a>


            <!-- Navbar Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#cpfModal">
                            <i class="fas fa-user-shield"></i> Administrador
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

    <!-- Carrossel Hero -->
    <section id="carouselExampleCaptions" class="carousel slide hero" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/semed001.png' %}" class="d-block w-100" alt="Imagem Canaã 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-6 display-md-5 display-lg-4">Consulta Pública 2024</h5>
                    <p class="lead d-none d-sm-block">Participe da votação para a remodelação do Regimento Escolar Unificado.</p>
                    <!-- Botão para abrir a modal de consulta pública -->
                    <button type="button" class="btn btn-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#consultaPublicaModal">
                        Regimento Escolar Unificado: Opinião
                    </button>
                </div>
                
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/semed002.png' %}" class="d-block w-100" alt="Imagem Canaã 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Transforme a Educação</h5>
                    <p>A educação está em suas mãos, participe e opine nas mudanças propostas.</p>
                    <!-- Botão para abrir a modal de consulta pública -->
                    <button type="button" class="btn btn-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#consultaPublicaModal">Regimento Escolar Unificado: Opinião</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/semed003.png' %}" class="d-block w-100" alt="Imagem Canaã 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Educação de Qualidade</h5>
                    <p>Veja as transformações que a prefeitura propõe para a educação de Canaã dos Carajás.</p>
                    <!-- Botão para abrir a modal de consulta pública -->
                    <button type="button" class="btn btn-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#consultaPublicaModal">Regimento Escolar Unificado: Opinião</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </section>

    <!-- Cards Section -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Card 1: Consulta Pública -->
            <div class="col-md-4">
                <div class="modern-card text-center p-4 shadow-sm">
                    <h5 class="card-title mb-3">Consulta Pública</h5>
                    <p class="card-text">Opine sobre as mudanças no Regimento Escolar Unificado de Canaã dos Carajás.
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#consultaPublicaModal">Regimento Escolar Unificado opine</button>
                </div>
            </div>
            <!-- Card 2: Baixar Decreto -->
            <div class="col-md-4">
                <div class="modern-card text-center p-4 shadow-sm">
                    <h5 class="card-title mb-3">Baixar Regimento Escolar Unificado</h5>
                    <p class="card-text">Acesse o Regimento Escolar Unificado vigente para revisão e análise.</p>
                    <a href="{% static 'downloads/RegimentoEscolar2018_oficial.pdf' %}" class="btn btn-primary"
                        download>Baixar Regimento Escolar Unificado</a>
                </div>
            </div>

            <!-- Card 3: Baixar Legislação -->
            <div class="col-md-4">
                <div class="modern-card text-center p-4 shadow-sm">
                    <h5 class="card-title mb-3">Baixar LDBEN 9.394/96</h5>
                    <p class="card-text">Faça o download da Lei de Diretrizes e Bases da Educação LDBEN 9.394/96.</p>
                    <a href="{% static 'downloads/lei9394_ldbn.pdf' %}" class="btn btn-primary" download>Baixar Lei LDBEN
                        9.394/96</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Seção de Reportagens Relacionadas -->
    <section class="container mt-5">
        <h2 class="text-center mb-4">Construindo a Educação Juntos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/aluno004.jpeg' %}" class="card-img-top" alt="Imagem da Reportagem 1">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: justify;">Consulta Pública sobre a Adequação do Regimento Escolar Unificado das Escolas Públicas de Canaã dos Carajás</h5>
                        <p class="card-text" style="text-align: justify;">Este é um momento importante para revisarmos e atualizarmos o Regimento Escolar Unificado.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consultaModal">
                            Ler Mais
                        </button>
                    </div>
                </div>
                
                <!-- Modal Informação 1-->
                <div class="modal fade" id="consultaModal" tabindex="-1" aria-labelledby="consultaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="consultaModalLabel">Consulta Pública sobre a Adequação do Regimento Escolar Unificado das Escolas Públicas de Canaã dos Carajás</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text" style="text-align: justify;">A Secretaria Municipal de Educação de Canaã dos Carajás convida toda a comunidade escolar, pais, alunos, professores, gestores e demais interessados para participarem da consulta pública referente à adequação do Regimento Escolar Unificado das escolas públicas do município.</p>
                                <p class="modal-text" style="text-align: justify;">Este é um momento importante para revisarmos e atualizarmos o Regimento Escolar Unificado, garantindo que ele esteja em consonância com as diretrizes educacionais vigentes e reflita as necessidades e expectativas da nossa comunidade escolar. O processo visa construir um ambiente escolar ainda mais democrático, transparente e eficiente, valorizando a participação de todos.</p>
                                <p class="modal-text" style="text-align: justify;"><strong>A sua opinião é fundamental!</strong> Envie suas sugestões até o dia <strong>15 de novembro de 2024</strong> e contribua para o aprimoramento das nossas instituições de ensino.</p>
                                <p class="modal-text" style="text-align: justify;">Para participar, basta registrar suas sugestões, no formulário de opinião.</p>
                                <p class="modal-text" style="text-align: justify;"><strong>Contamos com a participação de todos!</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal-->
                
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/aluno002.jpeg' %}" class="card-img-top" alt="Imagem da Reportagem 2">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: justify;">Opinião sobre o Regimento Escolar Unificado das Escolas Municipais de Canaã dos Carajás</h5>
                        <p class="card-text" style="text-align: justify;">Ajustando-a às novas demandas do Regimento Escolar Unificado.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consultaModal1">
                                Ler Mais
                            </button>
                    </div>
                </div>
            </div>

             <!-- Modal Informação 2-->
             <div class="modal fade" id="consultaModal1" tabindex="-1" aria-labelledby="consultaModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="consultaModalLabel1">Regimento Escolar Unificado Das Unidades De Ensino Da Rede Pública Municilpal De Canaã Dos Carajás</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="modal-text" style="text-align: justify;">A Secretaria Municipal de Educação de Canaã dos Carajás convoca toda a comunidade escolar – pais, alunos, professores, gestores e demais interessados – para participar ativamente da Consulta Pública sobre a Revisão do Regimento Escolar Unificado das escolas municipais. Este é um convite ao exercício democrático de construção coletiva, visando à modernização e adequação das diretrizes que norteiam a conduta, os direitos e os deveres dos nossos estudantes.</p>
                            <p class="modal-text" style="text-align: justify;">A revisão do Regimento Escolar Unificado representa um marco fundamental para garantir que as normas educacionais acompanhem as transformações sociais, culturais e tecnológicas do século XXI. É imprescindível que o Regimento Escolar Unificado seja um reflexo fiel das necessidades atuais, promovendo um ambiente escolar mais inclusivo, justo e equitativo, capaz de formar cidadãos críticos, responsáveis e engajados na sociedade.</p>
                            <p class="modal-text" style="text-align: justify;"><strong>A sua opinião é fundamental!</strong> Envie suas sugestões até o dia <strong>15 de novembro de 2024</strong> e contribua para o aprimoramento das nossas instituições de ensino.</p>
                            <p class="modal-text" style="text-align: justify;">Para participar, basta registrar suas sugestões, no formulário de opinião.</p>
                            <p class="modal-text" style="text-align: justify;"><strong>Contamos com a participação de todos!</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal-->

            
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/municipal003.jpg' %}" class="card-img-top" alt="Imagem da Reportagem 3">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: justify;">Regimento Escolar Unificado: O Que Muda, e que pode ser melhorado?</h5>
                        <p class="card-text" style="text-align: justify;">Entenda as principais mudanças propostas no
                            Regimento Escolar Unificado, sobre os serviços
                            edicacionais.</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consultaModal2">
                                Ler Mais
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Informação 3-->
    <div class="modal fade" id="consultaModal2" tabindex="-1" aria-labelledby="consultaModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="consultaModalLabel2">Consulta Pública sobre a Reformulação do Regimento Escolar Unificado Municipal de Diretrizes Educacionais em Canaã dos Carajás</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-text" style="text-align: justify;">A Secretaria Municipal de Educação de Canaã dos Carajás está promovendo uma consulta pública para debater a reformulação do Regimento Escolar Unificado Municipal de Diretrizes Educacionais, que regula o funcionamento das escolas públicas do município. Este é um passo fundamental para garantir que as políticas educacionais locais estejam em harmonia com as novas exigências do sistema de ensino, além de reforçar a participação ativa da comunidade escolar nesse processo.</p>
                    <p class="modal-text" style="text-align: justify;">O Regimento Escolar Unificado abrange temas cruciais como a gestão pedagógica, a formação dos professores, a organização escolar, e os direitos e deveres de pais, alunos e servidores da educação. A reformulação visa modernizar essas diretrizes, garantindo que estejam alinhadas com as demandas contemporâneas e com as melhores práticas educacionais adotadas no Brasil.</p>
                    <p class="modal-text" style="text-align: justify;"><strong>A sua opinião é fundamental!</strong> Envie suas sugestões até o dia <strong>15 de novembro de 2024</strong> e contribua para o aprimoramento das nossas instituições de ensino.</p>
                    <p class="modal-text" style="text-align: justify;">Para participar, basta registrar suas sugestões, no formulário de opinião.</p>
                    <p class="modal-text" style="text-align: justify;"><strong>Contamos com a participação de todos!</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->



    <!-- Modal para Verificação de CPF -->
    <div class="modal fade" id="cpfModal" tabindex="-1" aria-labelledby="cpfModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cpfModalLabel">Verificação de CPF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cpfVerificationForm">
                        <div class="mb-3">
                            <label for="cpfInput" class="form-label">Digite seu CPF</label>
                            <input type="text" class="form-control" id="cpfInput" placeholder="000.000.000-00" required>
                        </div>
                    </form>
                    <div id="cpfError" class="text-danger" style="display: none;">CPF inválido. Tente novamente.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" id="verifyCpfButton">Verificar CPF</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->


    <!-- Modal de Consulta Pública -->
    <div class="modal fade" id="consultaPublicaModal" tabindex="-1" aria-labelledby="consultaPublicaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="consultaPublicaModalLabel">Consulta Pública: Opinião sobre Regimento Escolar Unificado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="consultaPublicaForm" method="POST" action="{% url 'consulta_publica' %}">
                        {% csrf_token %}
                        <!-- Campo para escolher o Título -->
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Escolha o TÍTULO:</label>
                            <select class="form-select" id="titulo" name="titulo" required>
                                <option value="" disabled selected>Selecione o TÍTULO</option>
                                <option value="inserir-titulo">INSERIR TÍTULO</option>
                                <option value="TÍTULO I">TÍTULO I - DAS DISPOSIÇÕES PRELIMINARES</option>
                                <option value="TÍTULO II">TÍTULO II - DAS FINALIDADES E OBJETIVOS DA EDUCAÇÃO BÁSICA</option>
                                <option value="TÍTULO III">TÍTULO III - DA ORGANIZAÇÃO DA INSTITUIÇÃO</option>
                                <option value="TÍTULO IV">TÍTULO IV - DOS PAIS OU RESPONSÁVEIS</option>
                                <option value="TÍTULO V">TÍTULO V - DAS DEMAIS ORGANIZAÇÃO DA INSTITUIÇÃO</option>
                                <option value="TÍTULO VI">TÍTULO VI - DA ADMINISTRAÇÃO PESSOAL</option>
                                <option value="TÍTULO VII">TÍTULO VII - DA ORGANIZAÇÃO DIDÁTICA - PEDAGÓGICA</option>
                                <option value="TÍTULO VIII">TÍTULO VIII - DO REGIME DE FUNCIONAMENTO</option>
                                <option value="TÍTULO IX">TÍTULO IX - DA VERIFICAÇÃO DO RENDIMENTO E AVALIAÇÃO</option>
                                <option value="TÍTULO X">TÍTULO X - DO REGIME DISCIPLINAR</option>
                                <option value="TÍTULO XI">TÍTULO XI - DAS DISPOSIÇÕES GERAIS E TRANSITÓRIAS</option>
                            </select>
                        </div>


                        <!-- Campo para escolher o Capítulo -->
                        <div class="mb-3">
                            <label for="capitulo" class="form-label">Escolha o CAPÍTULO:</label>
                            <select class="form-select" id="capitulo" name="capitulo" required>
                                <option value="" disabled selected>Selecione o CAPÍTULO</option>
                            </select>
                        </div>


                        <!-- Outros campos já existentes -->
                        <div class="mb-3">
                            <label for="tipoAlteracao" class="form-label">Escolha o tipo de alteração:</label>
                            <select class="form-select" id="tipo_alteracao" name="tipo_alteracao" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="supressao">Supressão</option>
                                <option value="insercao">Inserção</option>
                                <option value="edicao">Alteração</option>
                                <option value="exclusao">Exclusão</option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <label for="justificativa" class="form-label">Justificativa:</label>
                            <textarea class="form-control" id="justificativa" name="justificativa" rows="4"
                                placeholder="Explique por que você está sugerindo essa alteração..."
                                required></textarea>
                        </div>


                        <!-- Dados Pessoais -->
                        <h6>Dados Pessoais</h6>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nomeCompleto" class="form-label">Nome Completo:</label>
                                <input type="text" class="form-control" id="nome_completo" name="nome_completo" placeholder="Digite seu nome completo">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cpf" class="form-label">CPF:</label>
                                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="telefone" class="form-label">Telefone:</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cargo" class="form-label">Cargo:</label>
                                <select class="form-select" id="cargo" name="cargo" required>
                                    <option value="" disabled selected>Selecione o Cargo</option>
                                    <option value="ALUNO">ALUNO</option>
                                    <option value="ADMINISTRADOR - PCCR/QP">ADMINISTRADOR - PCCR/QP</option>
                                    <option value="ADVOGADO - PCCR/QP">ADVOGADO - PCCR/QP</option>
                                    <option value="AG. SERV. MONITOR ESCOLAR">AG. SERV. MONITOR ESCOLAR</option>
                                    <option value="AG. SERV. TRANSPORTE ESCOLAR">AG. SERV. TRANSPORTE ESCOLAR</option>
                                    <option value="AGENTE ADMINISTRATIVO EDUCACIONAL">AGENTE ADMINISTRATIVO EDUCACIONAL</option>
                                    <option value="AGENTE DE SERVIÇOS ADMINISTRATIVOS">AGENTE DE SERVIÇOS ADMINISTRATIVOS</option>
                                    <option value="AGENTE DE SERVIÇOS ADMINISTRATIVOS - PCCR/QP">AGENTE DE SERVIÇOS ADMINISTRATIVOS - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE AUXILIAR DE SALA - PCCR/QP">AGENTE DE SERVIÇOS DE AUXILIAR DE SALA - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE BIBLIOTECA ESCOLAR - PCCR/QP">AGENTE DE SERVIÇOS DE BIBLIOTECA ESCOLAR - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE CONDUTOR DE TRANSPORTE ESCOLAR - PCCR/QP">AGENTE DE SERVIÇOS DE CONDUTOR DE TRANSPORTE ESCOLAR - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE CONDUTOR VEICULOS LEVES - PCCR/QP">AGENTE DE SERVIÇOS DE CONDUTOR VEICULOS LEVES - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE COZINHEIRO ESCOLAR - PCCR/QP">AGENTE DE SERVIÇOS DE COZINHEIRO ESCOLAR - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE INFORMÁTICA - PCCR/QP">AGENTE DE SERVIÇOS DE INFORMÁTICA - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE MONITOR ESCOLAR - PCCR/QP">AGENTE DE SERVIÇOS DE MONITOR ESCOLAR - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS DE SEGURANÇA PATRIMONIAL - PCCR/QP">AGENTE DE SERVIÇOS DE SEGURANÇA PATRIMONIAL - PCCR/QP</option>
                                    <option value="AGENTE DE SERVIÇOS GERAIS - PCCR/QP">AGENTE DE SERVIÇOS GERAIS - PCCR/QP</option>
                                    <option value="ANALISTA DE SISTEMAS DE INFORMAÇÃO - PCCR/QP">ANALISTA DE SISTEMAS DE INFORMAÇÃO - PCCR/QP</option>
                                    <option value="APOIO ESCOLAR / KSS">APOIO ESCOLAR / KSS</option>
                                    <option value="APOIO PEDAGÓGICO">APOIO PEDAGÓGICO</option>
                                    <option value="ASSESSOR DE COMUNICAÇÃO - PCCR/QC">ASSESSOR DE COMUNICAÇÃO - PCCR/QC</option>
                                    <option value="ASSESSOR I - PCCR/QC">ASSESSOR I - PCCR/QC</option>
                                    <option value="ASSESSOR IX - PCCR/QC">ASSESSOR IX - PCCR/QC</option>
                                    <option value="ASSISTENTE SOCIAL - PCCR/QP">ASSISTENTE SOCIAL - PCCR/QP</option>
                                    <option value="AUXILIAR ADMINISTRATIVO">AUXILIAR ADMINISTRATIVO</option>
                                    <option value="AUXILIAR DE SERVIÇOS GERAIS">AUXILIAR DE SERVIÇOS GERAIS</option>
                                    <option value="BIBLIOTECÁRIA(O) - PCCR/QP">BIBLIOTECÁRIA(O) - PCCR/QP</option>
                                    <option value="CONTADOR(A) - PCCR/QP">CONTADOR(A) - PCCR/QP</option>
                                    <option value="COORDENADOR TECNICO PEDAGOGICO">COORDENADOR TECNICO PEDAGOGICO</option>
                                    <option value="COORDENADOR TECNICO PEDAGOGICO - PCCR-QC">COORDENADOR TECNICO PEDAGOGICO - PCCR-QC</option>
                                    <option value="COORDENADOR(A) PEDAGOGICO">COORDENADOR(A) PEDAGOGICO</option>
                                    <option value="COORDENADOR(A) PEDAGÓGICO ED. INFANTIL">COORDENADOR(A) PEDAGÓGICO ED. INFANTIL</option>
                                    <option value="COORDENADOR(A) PEDAGÓGICO(A) - PCCR/QC">COORDENADOR(A) PEDAGÓGICO(A) - PCCR/QC</option>
                                    <option value="COORDENADOR(A) TÉCNICO - PCCR/QC">COORDENADOR(A) TÉCNICO - PCCR/QC</option>
                                    <option value="DIRETOR(A) ESCOLAR">DIRETOR(A) ESCOLAR</option>
                                    <option value="ENGENHEIRO CIVIL - PCCR/QP">ENGENHEIRO CIVIL - PCCR/QP</option>
                                    <option value="GESTOR COORDENADOR - SUPERIOR - PCCR/QC">GESTOR COORDENADOR - SUPERIOR - PCCR/QC</option>
                                    <option value="GESTOR DE DIRETORIA - PCCR/QFG">GESTOR DE DIRETORIA - PCCR/QFG</option>
                                    <option value="GESTOR DE SETOR - MÉDIO - PCCR/QC">GESTOR DE SETOR - MÉDIO - PCCR/QC</option>
                                    <option value="GESTOR DE SETOR - SUPERIOR - PCCR/QC">GESTOR DE SETOR - SUPERIOR - PCCR/QC</option>
                                    <option value="MEDIADOR DE APRENDIZAGEM / KSS">MEDIADOR DE APRENDIZAGEM / KSS</option>
                                    <option value="MONITOR DE ESCOLA DE TEMPO INTEGRAL / KSS">MONITOR DE ESCOLA DE TEMPO INTEGRAL / KSS</option>
                                    <option value="NUTRICIONISTA - PCCR/QP">NUTRICIONISTA - PCCR/QP</option>
                                    <option value="ORIENTADOR EDUCACIONAL">ORIENTADOR EDUCACIONAL</option>
                                    <option value="OUTROS">OUTROS</option>
                                    <option value="PEDAGOGO(A) - PCCR/QP">PEDAGOGO(A) - PCCR/QP</option>
                                    <option value="PROFESSOR CIENCIAS">PROFESSOR CIENCIAS</option>
                                    <option value="PROFESSOR DE ARTES - PCCR/QP">PROFESSOR DE ARTES - PCCR/QP</option>
                                    <option value="PROFESSOR DE CIÊNCIAS NATURAIS - PCCR/QP">PROFESSOR DE CIÊNCIAS NATURAIS - PCCR/QP</option>
                                    <option value="PROFESSOR DE EDUCAÇÃO BASICA - PCCR/QP">PROFESSOR DE EDUCAÇÃO BASICA - PCCR/QP</option>
                                    <option value="PROFESSOR DE EDUCAÇÃO DO CAMPO - PCCR/QP">PROFESSOR DE EDUCAÇÃO DO CAMPO - PCCR/QP</option>
                                    <option value="PROFESSOR DE EDUCAÇÃO ESPECIAL - PCCR/QP">PROFESSOR DE EDUCAÇÃO ESPECIAL - PCCR/QP</option>
                                    <option value="PROFESSOR DE EDUCAÇÃO FISICA - PCCR/QP">PROFESSOR DE EDUCAÇÃO FISICA - PCCR/QP</option>
                                    <option value="PROFESSOR DE EDUCAÇÃO INFANTIL - PCCR/QP">PROFESSOR DE EDUCAÇÃO INFANTIL - PCCR/QP</option>
                                    <option value="PROFESSOR DE GEOGRAFIA - PCCR/QP">PROFESSOR DE GEOGRAFIA - PCCR/QP</option>
                                    <option value="PROFESSOR DE HISTÓRIA - PCCR/QP">PROFESSOR DE HISTÓRIA - PCCR/QP</option>
                                    <option value="PROFESSOR DE INGLÊS - PCCR/QP">PROFESSOR DE INGLÊS - PCCR/QP</option>
                                    <option value="PROFESSOR DE LINGUA PORTUGUESA - PCCR/QP">PROFESSOR DE LINGUA PORTUGUESA - PCCR/QP</option>
                                    <option value="PROFESSOR DE MATEMATICA - PCCR/QP">PROFESSOR DE MATEMATICA - PCCR/QP</option>
                                    <option value="PROFESSOR ENSINO RELIGIOSO - PCCR/QP">PROFESSOR ENSINO RELIGIOSO - PCCR/QP</option>
                                    <option value="PROFESSOR MAGISTÉRIO / 1º AO 5º ANO">PROFESSOR MAGISTÉRIO / 1º AO 5º ANO</option>
                                    <option value="PROFESSOR(A)">PROFESSOR(A)</option>
                                    <option value="PSICOLOGO ESCOLAR/EDUCACIONAL - PCCR/QP">PSICOLOGO ESCOLAR/EDUCACIONAL - PCCR/QP</option>
                                    <option value="PSICOPEDAGOGO(A) - PCCR/QP">PSICOPEDAGOGO(A) - PCCR/QP</option>
                                    <option value="SECRETARIO NÃO ESCOLAR - PCCR/QC">SECRETARIO NÃO ESCOLAR - PCCR/QC</option>
                                    <option value="SECRETÁRIO(A) ESCOLAR">SECRETÁRIO(A) ESCOLAR</option>
                                    <option value="SECRETÁRIO(A) GERAL">SECRETÁRIO(A) GERAL</option>
                                    <option value="VICE DIRETOR(A) DE ESCOLA - PCCR/QC">VICE DIRETOR(A) DE ESCOLA - PCCR/QC</option>
                                </select>
                            </div>


                            
                            <div class="col-md-6 mb-3">
                                <label for="lotacao" class="form-label">Lotação:</label>
                                <select class="form-select" id="lotacao" name="lotacao" required>
                                    <option value="" disabled selected>Selecione a Lotação</option>
                                    <option value="CENTRO DE FORMACAO RUTE SAMPAIO DA CUNHA">CENTRO DE FORMACAO RUTE SAMPAIO DA CUNHA</option>
                                    <option value="CMEJA JOSÉ DE DEUS ANDRADE">CMEJA JOSÉ DE DEUS ANDRADE</option>
                                    <option value="EMEB GERCINO CORREA DE MELO JUNIOR">EMEB GERCINO CORREA DE MELO JUNIOR</option>
                                    <option value="EMEB LUÍS CARLOS PRESTES">EMEB LUÍS CARLOS PRESTES</option>
                                    <option value="EMEB RONILTON ARIDAL DA SILVA GRILO">EMEB RONILTON ARIDAL DA SILVA GRILO</option>
                                    <option value="EMEF ALEXSANDRO NUNES DE SOUZA GOMES">EMEF ALEXSANDRO NUNES DE SOUZA GOMES</option>
                                    <option value="EMEF BENEDITA TORRES">EMEF BENEDITA TORRES</option>
                                    <option value="EMEF CARMELO MENDES DA SILVA">EMEF CARMELO MENDES DA SILVA</option>
                                    <option value="EMEF FRANCISCA ROMANA DOS SANTOS">EMEF FRANCISCA ROMANA DOS SANTOS</option>
                                    <option value="EMEF JOÃO NELSON DOS PRAZERES HENRIQUES">EMEF JOÃO NELSON DOS PRAZERES HENRIQUES</option>
                                    <option value="EMEF MARIA DE LOURDES ROCHA RODRIGUES">EMEF MARIA DE LOURDES ROCHA RODRIGUES</option>
                                    <option value="EMEF SEBASTIÃO AGRIPINO DA SILVA">EMEF SEBASTIÃO AGRIPINO DA SILVA</option>
                                    <option value="EMEIF ADELAIDE MOLINARI">EMEIF ADELAIDE MOLINARI</option>
                                    <option value="EMEIF CARLOS HENRIQUE">EMEIF CARLOS HENRIQUE</option>
                                    <option value="EMEIF JUSCELINO KUBITSCHEK">EMEIF JUSCELINO KUBITSCHEK</option>
                                    <option value="EMEIF MAGALHÃES BARATA">EMEIF MAGALHÃES BARATA</option>
                                    <option value="EMEIF RAIMUNDO DE OLIVEIRA">EMEIF RAIMUNDO DE OLIVEIRA</option>
                                    <option value="EMEIF TANCREDO DE ALMEIDA NEVES">EMEIF TANCREDO DE ALMEIDA NEVES</option>
                                    <option value="EMEIF TEOTÔNIO VILELA">EMEIF TEOTÔNIO VILELA</option>
                                    <option value="ESPACO MAKER MUNICIPAL PROFESSOR GRAZIANNE J. M. DE ALMEIDA">ESPACO MAKER MUNICIPAL PROFESSOR GRAZIANNE J. M. DE ALMEIDA</option>
                                    <option value="NEI ALEGRIA DO SABER">NEI ALEGRIA DO SABER</option>
                                    <option value="NEI BENEDITO FAUSTINO MALACHIAS">NEI BENEDITO FAUSTINO MALACHIAS</option>
                                    <option value="NEI EDSON PEDRO DA SILVA">NEI EDSON PEDRO DA SILVA</option>
                                    <option value="NEI IRANI VIEIRA DA SILVA">NEI IRANI VIEIRA DA SILVA</option>
                                    <option value="NEI MARIA DOS MILAGRES OLIVEIRA VIANA">NEI MARIA DOS MILAGRES OLIVEIRA VIANA</option>
                                    <option value="NEI RAIMUNDO BORGES DE SOUSA">NEI RAIMUNDO BORGES DE SOUSA</option>
                                    <option value="SEMED">SEMED</option>
                                    <option value="OUTRO">OUTRO</option>
                                </select>
                            </div>
                        </div>



                        <div class="mb-3">
                            <label for="observacoes" class="form-label">Observações Adicionais:</label>
                            <textarea class="form-control" id="observacoes_adicionais" name="observacoes_adicionais"  rows="3"
                                placeholder="Se houver mais detalhes, adicione aqui..."></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" form="consultaPublicaForm">Enviar Opinião</button>
                </div>
            </div>
        </div>
    </div>


        <!-- Script para exibir a mensagem de confirmação -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% if messages %}
                    {% for message in messages %}
                        Swal.fire({
                            icon: '{% if message.tags == "success" %}success{% else %}error{% endif %}',
                            title: '{{ message }}',
                            showConfirmButton: true,
                            timer: 3000
                        });
                    {% endfor %}
                {% endif %}
            });
        </script>




    <br>
    <br>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}




    <!-- Footer -->
    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col-6 text-start">
                    <p class="mb-0">&copy; 2024 Semed Canaã</p>
                </div>
                <div class="col-6 text-end">
                    <p class="mb-0">SEPROT - V.4.0</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!--Mascara cpf-->
    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00');
            $('#telefone').mask('(00) 00000-0000');
        });
    </script>
    <!--fim do js-->

    <!-- <script>
    $(document).ready(function() {
        // Função para desabilitar os campos de Dados Pessoais
        function disablePersonalFields() {
            $('#nomeCompleto, #email, #telefone, #cargo, #lotacao').prop('disabled', true);
        }

        // Função para habilitar os campos de Dados Pessoais
        function enablePersonalFields() {
            $('#nomeCompleto, #email, #telefone, #cargo, #lotacao').prop('disabled', false);
        }

        // Evento de quando o campo CPF perde o foco (blur event)
        $('#cpf').on('blur', function() {
            var cpf = $(this).val();

            if (cpf) {
                // Faz a requisição AJAX para verificar o CPF
                $.ajax({
                    url: '/verificar-cpf/',  // URL da sua view Django que verifica o CPF
                    method: 'GET',
                    data: {
                        'cpf': cpf
                    },
                    success: function(response) {
                        if (response.exists) {
                            // Preencher os campos com os dados retornados e habilitar os campos
                            $('#nomeCompleto').val(response.nome_completo);
                            $('#email').val(response.email);
                            $('#telefone').val(response.telefone);
                            $('#cargo').val(response.cargo);
                            $('#lotacao').val(response.lotacao);
                            enablePersonalFields();
                        } else {
                            alert('CPF não encontrado.');
                            disablePersonalFields();
                        }
                    },
                    error: function() {
                        alert('Erro ao buscar CPF.');
                        disablePersonalFields();
                    }
                });
            } else {
                disablePersonalFields();  // Desabilita os campos se o CPF estiver vazio
            }
        });

        // Desabilitar campos ao carregar a página
        disablePersonalFields();
    });
</script> -->

        <script>
            document.getElementById('consultaPublicaForm').addEventListener('submit', function(event) {
            document.getElementById('nome_completo').disabled = false;
            document.getElementById('email').disabled = false;
            document.getElementById('telefone').disabled = false;
            document.getElementById('cargo').disabled = false;
            document.getElementById('lotacao').disabled = false;
        });

        </script>



    <script>
        // Objeto que mapeia TÍTULOS para CAPÍTULOS
        const capitulosPorTitulo = {
            "TÍTULO I": [
                { value: "CAPÍTULO ÚNICO", text: "CAPÍTULO ÚNICO - DOS PRINCÍPIOS E FINS DA EDUCAÇÃO" }
            ],
            "TÍTULO II": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DA EDUCAÇÃO INFANTIL" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DO ENSINO FUNDAMENTAL" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DA EDUCAÇÃO DE JOVENS E ADULTOS" }
            ],
            "TÍTULO III": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DA ORGANIZAÇÃO ADMINISTRATIVA E PEDAGÓGICA" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DA ESTRUTURA" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DO CONSELHO ESCOLAR" },
                { value: "CAPÍTULO IV", text: "CAPÍTULO IV - DA DIREÇÃO E VICE-DIREÇÃO" },
                { value: "CAPÍTULO V", text: "CAPÍTULO V - DO SECRETÁRIO ESCOLAR E AGENTES ADMINISTRATIVOS " },
                { value: "CAPÍTULO VI", text: "CAPÍTULO VI - DOS SERVIÇOS PEDAGÓGICOS E DE APOIO AO ALUNO" },
                { value: "SEÇÃO I", text: "SEÇÃO I - DOS DEVERES DO SECRETÁRIO ESCOLAR E AGENTES ADMINISTRATIVOS" },
                { value: "SUBSEÇÃO I", text: "SUBSEÇÃO I  - DOS DIREITOS" },
                { value: "SUBSEÇÃO II", text: "SUBSEÇÃO II  - DO CONSELHO ESCOLAR" },
                { value: "CAPÍTULO VI", text: "CAPÍTULO VI - DOS SERVIÇOS PEDAGÓGICOS E DE APOIO AO ALUNO" },
                { value: "SEÇÃO I", text: "SEÇÃO I - DO SERVIÇO DE ORIENTAÇÃO EDUCACIONAL " },
                { value: "SEÇÃO III", text: "SEÇÃO III - DO SERVIÇO DO PSICOPEDAGÓGICO" },
                { value: "SEÇÃO IV", text: "SEÇÃO IV - DO SERVIÇO DE NUTRIÇÃO ESCOLAR" },
                { value: "SEÇÃO V", text: "SEÇÃO V - DO SERVIÇO DE ATENDIMENTO EDUCACIONAL ESPECIALIZADO" },
                { value: "CAPÍTULO VII", text: "CAPÍTULO VII - DO CORPO DOCENTE" },
            ],
            "TÍTULO IV": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DOS PAIS OU RESPONSÁVEIS" },
                { value: "CAPÍTULO ÚNICO", text: "CAPÍTULO ÚNICO" },
                { value: "SEÇÃO I", text: "SEÇÃO I - DOS DEVERES E DOS DIREITOS" },
            ],
            "TÍTULO V": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DO CONSELHO DE CLASSE" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DA BIBLIOTECA, BRINQUEDOTECA E SALA DE LEITURA" },
                { value: "CAPITULO III", text: "CAPITULO III - DO LABORATÓRIO DE INFORMÁTICA" },
                { value: "CAPITULO IV", text: "CAPITULO IV - DAS SALAS DE RECURSOS MULTIFUNCIONAIS" },
                { value: "CAPÍTULO V", text: "CAPÍTULO V - DOS SERVIÇOS AUXILIARES" },
                { value: "SEÇÃO I", text: "SEÇÃO I - DOS SERVIÇOS DE LIMPEZA" },
                { value: "SUBSEÇÃO I", text: "SUBSEÇÃO I - DOS DIREITOS" },
                { value: "SEÇÃO II", text: "SEÇÃO II - DOS SERVIÇOS DE COZINHA" },
                { value: "SEÇÃO III", text: "SEÇÃO III - DOS SERVIÇOS DO AGENTE DE SEGURANÇA PATRIMONIAL" },
                { value: "SUBSEÇÃO I", text: "SUBSEÇÃO I - DOS DIREITOS" },
                { value: "SEÇÃO III", text: "SEÇÃO III - DAS VEDAÇÕES" },
            ],
            "TÍTULO VI": [
                { value: "SUBSEÇÃO I", text: "SUBSEÇÃO I - DAS VEDAÇÕES" },
            ],
            "TÍTULO VII": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DO CURRÍCULO" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DO PROJETO POLÍTICO PEDAGÓGICO" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DAS ETAPAS, DOS NÍVEIS E MODALIDADES DE ENSINO" },
                { value: "SEÇÃO I", text: "SEÇÃO I - DA EDUCAÇÃO INFANTIL" },
                { value: "SEÇÃO II", text: "SEÇÃO II - DO ENSINO FUNDAMENTAL" },
                { value: "SEÇÃO III", text: "SEÇÃO III - DA EDUCAÇÃO DE JOVENS E ADULTOS" },
                { value: "SEÇÃO IV", text: "SEÇÃO IV - DA EDUCAÇÃO ESPECIAL" },
                { value: "SEÇÃO V", text: "SEÇÃO V - DO ATENDIMENTO PEDAGÓGICO DOMICILIAR E HOSPITALAR" },
                { value: "SEÇÃO VI", text: "SEÇÃO VI - DA EDUCAÇÃO DO CAMPO" },
            ],
            "TÍTULO VIII": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DO PERÍODO LETIVO" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DO CALENDÁRIO ESCOLAR" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DA MATRÍCULA" },
                { value: "CAPITULO IV", text: "CAPITULO IV - DA DEPENDÊNCIA DE ESTUDOS" },
                { value: "CAPITULO V", text: "CAPITULO V - DA CLASSIFICAÇÃO" },
                { value: "SEÇÃO ÚNICA", text: "SEÇÃO ÚNICA - DOS TESTES CLASSIFICATÓRIOS" },
                { value: "CAPITULO VII", text: "CAPITULO VII - DA RECLASSIFICAÇÃO" },
                { value: "CAPITULO VIII", text: "CAPITULO VIII - DA ADAPTAÇÃO DE ESTUDOS" },
                { value: "CAPITULO IX", text: "CAPITULO IX - DA TRANSFERÊNCIA" },
            ],
            "TÍTULO VIII": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DO PERÍODO LETIVO" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DO CALENDÁRIO ESCOLAR" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DA MATRÍCULA" },
                { value: "CAPITULO IV", text: "CAPITULO IV - DA DEPENDÊNCIA DE ESTUDOS" },
                { value: "CAPITULO V", text: "CAPITULO V - DA CLASSIFICAÇÃO" },
                { value: "SEÇÃO ÚNICA", text: "SEÇÃO ÚNICA - DOS TESTES CLASSIFICATÓRIOS" },
                { value: "CAPITULO VII", text: "CAPITULO VII - DA RECLASSIFICAÇÃO" },
                { value: "CAPITULO VIII", text: "CAPITULO VIII - DA ADAPTAÇÃO DE ESTUDOS" },
                { value: "CAPITULO IX", text: "CAPITULO IX - DA TRANSFERÊNCIA" },
            ],
            "TÍTULO IX": [
                { value: "Art. 170", text: "Art. 170 - NÃO REALIZAREM A AVALIAÇÃO BIMESTRAL" },
                { value: "CAPÍTULO I", text: "CAPÍTULO I - SISTEMA DE AVALIAÇÃO E APROVEITAMENTO ESCOLAR" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DO ENSINO FUNDAMENTAL" },
                { value: "CAPÍTULO III", text: "CAPÍTULO III - DA EDUCAÇÃO ESPECIAL" },
                { value: "CAPÍTULO IV", text: "CAPÍTULO IV - DA EDUCAÇÃO DE JOVENS E ADULTOS" },
                { value: "CAPÍTULO V", text: "CAPÍTULO V - DA APURAÇÃO DA ASSIDUIDADE" },
                { value: "CAPÍTULO VI", text: "CAPÍTULO VI - DA RECUPERAÇÃO DE ESTUDOS" },
                { value: "CAPITULO VII", text: "CAPITULO VII - DA PROMOÇÃO" },
                { value: "CAPÍTULO VIII", text: "CAPÍTULO VIII - DA EXPEDIÇÃO DE CERTIFICADOS E HISTÓRICO ESCOLAR" },
                { value: "CAPÍTULO IX", text: "CAPÍTULO IX - DA AVALIAÇÃO INSTITUCIONAL" },
            ],
            "TÍTULO X": [
                { value: "CAPÍTULO I", text: "CAPÍTULO I - DAS FINALIDADES" },
                { value: "CAPÍTULO II", text: "CAPÍTULO II - DAS SANÇÕES" },
            ],
            "TÍTULO XI": [
                { value: "DAS DISPOSIÇÕES GERAIS E TRANSITÓRIAS", text: "DAS DISPOSIÇÕES GERAIS E TRANSITÓRIAS" },
            ],

        };

       
        // Referências aos campos de seleção
        const tituloSelect = document.getElementById('titulo');
        const capituloSelect = document.getElementById('capitulo');

        // Evento para atualizar os capítulos quando um título é selecionado
        tituloSelect.addEventListener('change', function () {
            const tituloSelecionado = this.value;

            // Limpar o campo de capítulos
            capituloSelect.innerHTML = '<option value="" disabled selected>Selecione o CAPÍTULO</option>';

            // Verificar se há capítulos para o título selecionado
            if (capitulosPorTitulo[tituloSelecionado]) {
                capitulosPorTitulo[tituloSelecionado].forEach(capitulo => {
                    const option = document.createElement('option');
                    option.value = capitulo.value;
                    option.textContent = capitulo.text;
                    capituloSelect.appendChild(option);
                });
            }
        
        });
    
    </script>
    <!--fim do js-->

    <!-- JavaScript para controlar o comportamento dos campos -->
    <script>
        document.getElementById('titulo').addEventListener('change', function () {
    // Obter o valor selecionado do select 'titulo'
    var selectedTitulo = this.value;

    // Seletores dos elementos a serem modificados
    var capituloSelect = document.getElementById('capitulo');
    var tipoAlteracaoSelect = document.getElementById('tipo_alteracao');

    // Verifique se os elementos existem antes de tentar acessá-los
    if (capituloSelect && tipoAlteracaoSelect) {
        // Se o título selecionado for "INSERIR TÍTULO"
        if (selectedTitulo === 'inserir-titulo') {
            // Desabilitar o select de capítulos
            capituloSelect.disabled = true;

            // Selecionar "Inserção" no select de tipo de alteração e desabilitar
            tipoAlteracaoSelect.value = 'insercao';
            tipoAlteracaoSelect.disabled = true;
        } else {
            // Caso contrário, habilitar os selects
            capituloSelect.disabled = false;
            tipoAlteracaoSelect.disabled = false;
            tipoAlteracaoSelect.value = '';  // Resetar a seleção de tipo de alteração
        }
    } else {
        console.error('One of the elements (capitulo or tipo_alteracao) is missing.');
    }
});

    </script>


    <script>
        $(document).ready(function () {
            $('#cpf').mask('000.000.000-00');  // Máscara de CPF
            $('#telefone').mask('(00) 00000-0000');  // Máscara de telefone
        });

    </script>

    <!-- verificar cpf -->
    <script>
        document.getElementById('verifyCpfButton').addEventListener('click', function () {
            var cpf = document.getElementById('cpfInput').value;

            // Validação simples de CPF (você pode melhorar isso)
            if (cpf === '' || cpf.length !== 14) {
                document.getElementById('cpfError').style.display = 'block';
                return;
            }

            // Enviar solicitação AJAX para verificar o CPF
            $.ajax({
                url: "{% url 'verificar_cpf_ajax' %}",  // Ajuste essa URL para apontar para a rota correta no Django
                method: "POST",
                data: {
                    'cpf': cpf,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.valid) {
                        // Redireciona para a página de login do administrador
                        window.location.href = "{% url 'admin_login' %}";
                    } else {
                        document.getElementById('cpfError').style.display = 'block';
                    }
                },
                error: function () {
                    document.getElementById('cpfError').style.display = 'block';
                }
            });
        });

    </script>

<!-- controla o comportamento de visualização da modal -->
    <script>
        $(document).ready(function () {
            // Evento disparado quando a modal é fechada
            $('#consultaPublicaModal').on('hidden.bs.modal', function () {
                // Limpa todos os campos dentro da modal
                $('#dadosModal').find('input, textarea').val('');
            });
        });
    </script>

<script>
    $(document).ready(function () {
        ['#consultaPublicaModal', '#consultaPublicaModal1', '#consultaPublicaModal2'].forEach(function(modalId) {
            $(modalId).on('hidden.bs.modal', function () {
                location.reload();
            });
        });
    });
</script>



<!-- controla o comportamento de visualização da modal2 -->
<script>
    $(document).ready(function () {
        // Evento disparado quando a modal é fechada
        $('#consultaPublicaModal2').on('hidden.bs.modal', function () {
            // Limpa todos os campos dentro da modal
            $('#dadosModal').find('input, textarea').val('');
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Evento disparado quando a modal é fechada
        $('#consultaPublicaModal2').on('hidden.bs.modal', function () {
            location.reload(); // Atualiza a página para limpar os dados
        });
    });
</script>
<!-- Fim dos dois elementos -->



</body>

</html>